body {
    background-image: url("../imgs/bg.jpg");
    background-position: center;
    font-size: 2vh;
}

#header {
    background-image: url('../imgs/index.jpg');
    background-position: center;
    background-size: cover;
    color: darkgoldenrod;
    height: 25vw;
    justify-content: center;
}
#header > h1 {
    font-size: 5vh;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    text-decoration: underline;
}

#container {
    height: 100%;
    background-color: silver;
    max-width: 900px;
}

#card {
    min-width: 40vh;
}

h2 {
    font-size: 4vh;
}

h6 {
    font-size: 1.5vh;
}

#footer-text {
    font-size: 1.2vh;
}
